<p>Dear ${name},</p>
<p>Thank you for registering for the SEA Tech Talk <i>"Python for Structural Engineers"</i>. </p>
% if mode:
<p>We will meet on Friday 20-02-2026 at 4:00 pm in online mode. The virtual meeting link will be shared well in
    time. However, <b>if you live in or around Hubballi-Dharwad, I encourage you to attend
        the talk in-person</b> so that we get to meet face to face.</p>
%else:
<p>I look forward to meeting you on Friday 20-02-2026 at 4:00 pm in-person at KLE Technological University, Hubballi.
</p>
%endif
<p>Here are a few things you could do prior to the talk:</p>
<ol>
    <li>Visit the <a href="https://www.python.org/">Python homepage</a> and see the tutorial for those new to Python
    </li>
    <li>Watch the fun <a href="https://youtu.be/QoIRX37VZpo?si=cK0ILKnfq-lGQwDX">2-minute video introduction</a> to
        Python</li>
    <li>Visit the <a href="https://github.com/satish-annigeri/sea-techtalk">GitHub repository for the tech talk</a></li>
</ol>

<p>If you are curious, the statistics of the registrants to the talk are as follows:</p>

<ol>
    <li>Unique registrations (as of Wednesday 11-02-2026 13:00): 81</li>
    <li>Mode of attendance:</li>
    <ul>
        <li>In person: 22%</li>
        <li>Online: 78%</li>
    </ul>
    <li>Percentage of registrants who are using the following computational tools:</li>
    <ul>
        <li>Microsoft Excel using only Formulae: 90%</li>
        <li>Microsoft Excel using VBA: 20%</li>
        <li>Matlab: 5%</li>
        <li>Python: 7.5%</li>
        <li>Julia: Nil</li>
        <li>None of the above: 5%</li>
    </ul>
</ol>
<p>Looking forward to seeing you on the 20th of February.</p>

<p><b>Satish Annigeri</b><br>
    President, Structural Engineers' Association - India<br>
    <br>
    Former Professor of Civil Engineering<br>
    KLE Technological University, Hubballi
</p>