<p>Dear ${name},</p>
<p></p>
<p>Thank you for registering for registering for the talk <i>Python for Structural Engineers</i>. I hope you could
    attend the
    talk, either online or in person.
</p>
<p>If you attended, please take two minutes to answer five questions about the talk so that I can decide
    if and how I can take this forward. Your feedback is <b>anonymous</b> and your identity is not collected.</p>
<p>You can submit your feedback here: <a href="https://forms.gle/FHTqGN64ZCm3bFTt5">Google Feedback Form</a></p>
<p>Visit the README section of <a href="https://github.com/satish-annigeri/sea-techtalk">this page</a> to see the code
    used in the demonstrations and instructions for beginners, even those
    who do not know Python.</p>
<p>Looking forward to hearing from you</p>
<p>Regards.</p>
<p></p>
<p><b>Satish Annigeri</b><br>
    President, Structural Engineers' Association - India<br>
    <br>
    Former Professor of Civil Engineering<br>
    KLE Technological University, Hubballi
</p>