<p>Dear ${name},</p>
</p>You are cordially invited to the talk <em>"Python for Structural Engineers"</em> on Friday February 20th, from
4:00 pm to 6:00 pm. Please find attached a PDF file containing the slides of the presentation. The presentation contains
many links to online resources, please do visit them.</p>

<p>The venue for the talk is the Seminar Hall, Mechanical Engineering Department, KLE Technological University,
    Vidyanagar, Hubballi.</p>
<p>Here is the Google Meet link in case you are unable to attend in person: <a
        href="https://meet.google.com/heg-njxc-kvi">https://meet.google.com/heg-njxc-kvi</a>

<p>The schedule for the talk is as follows:</p>
<p style="text-indent: 2em; margin: 4px 0;">4:00 pm to 4:20 pm - Inauguration</p>
<p style="text-indent: 2em; margin: 4px 0;">4:20 pm to 5:30 pm - Talk <i>Python for Structural Engineers</i></p>
<p style="text-indent: 2em; margin: 4px 0;">5:30 pm to 5:45 pm - Interaction session</p>
<p style="text-indent: 2em; margin: 4px 0;">5:45 pm to 5:55 pm - Presentation by Er. Bharatkumar Patil, TCE, Gadag
</p>
<p style="text-indent: 2em; margin: 4px 0;">5:55 pm to 6:00 pm - Vote of thanks</p>
<p style="text-indent: 2em; margin: 4px 0;">6:00 pm onwards - Tea for those attending the talk in-person</p>
<p></p>
<p>We will start exactly on time since a considerable number of participants are attending online.</p>
<p>Looking forward to your participation. With regards.</p>
<p>
    <strong>Satish Annigeri</strong><br>
    Former Professor of Civil Engineering<br>
    KLE Technological University, Hubballi
</p>